// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



$dark: #000;
$info: #006D77;
$accent: #E7958A;
$white:#FFFFFF;
$silver:#E9F7FE;
$green:#042F1A;



